.video {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto 102px;

  display: flex;
  flex-direction: column;

  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .video {
    width: calc(100% - 48px*2);
  }
}

@media all and (max-width: 1023px) {
  .video {
    width: calc(100% - 24px*2);
  }
}

@media all and (max-width: 767px) {
  .video {
    width: calc(100% - 16px*2);
  }
}

