.video__play-button {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;


  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
