.video__item {
  border-radius: 5px;

  width: calc(50% - 9px);
  min-height: 323px;

  padding: 30px 0 30px 30px;
  position: relative;

  object-fit: fill;
  object-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column-reverse;
  z-index: 0;

}

.video__item::after {
  content: '';
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .video__item {
    width: calc(50% - 8px);
    min-height: 288px;
  }
}

@media screen and (max-width: 1023px) {
  .video__item {
    padding: 24px 0 24px 24px;
    min-height: 200px;
  }
}

@media all and (max-width: 676px) {
  .video__item {
    padding: 24px;
    width: 100%;
  }
}

@media all and (max-width: 374px) {
  .video__item {
    padding: 16px;
  }
}
