.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s ease-in;
}


.footer__link:hover {
  opacity: .8;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
