.content-subtitle {
  max-width: 640px;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 72px;

  font-size: 24px;
  line-height: 1.25;
  text-align: center;

  color: #fff;
}

@media all and (max-width: 1023px) {
  .content-subtitle {
    margin-bottom: 56px;
  }
}

@media all and (max-width: 767px) {
  .content-subtitle {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.44;
  }
}
