.cover__overlay {
  text-decoration: none;
  position: relative;
  width: 100%;
  min-height: 740px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;




  background-color: rgba(42, 44, 47, .3);
  transition: background 0.3s ease-in;
  text-decoration: none;


}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}


@media all and (max-width: 1184px) {
  .cover__overlay {
    min-height: 0;
    height: calc(100vw * .625);
  }
}
