.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  margin: auto;
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover__background::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #2a2c2f;
  transition: opacity .3s ease-in;
  opacity: .3;
  z-index: 0;
}

.cover__background:hover::after {
  opacity: .8;
}
