.content-title {
  max-width: 800px;

  margin: 0 auto;
  padding: 0;
  margin-bottom: 48px;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.09;
  text-align: center;

  color: #fff;
}

@media all and (max-width: 1023px) {
  .content-title {
    font-size: 42px;
    line-height: 1.1;
    margin-bottom: 24px;
  }

}

@media all and (max-width: 767px) {
  .content-title {
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

